
@{
    ViewBag.Title = "Service";
}

<section id="content" class="clearfix">
    <div class="container_12">
        <div class="grid_8">
            <h2 class="page_title with_filter">About us</h2>
            <p>
                Nulla, totam, repudiandae, magnam blanditiis animi amet consectetur dolor quas velit repellat quos magni ratione ipsa labore autem exercitationem aliquam tenetur atque minus illo sint distinctio consequuntur numquam veritatis molestias quisquam reiciendis asperiores aliquid soluta porro adipisci aut ad dolorum!
            </p>
            <hr>
            <div class="row">
                <div class="span6">
                    <h4><i class="icomoon-enter"></i>Suspendisse a nunc quis</h4>
                    <p>Praesent tempus egestas blandit. Nunc euismod volutpat ultrices. Nam fermentum nibh eget mi vehicula dictum.</p>
                </div>
                <div class="span6">
                    <h4><i class="icomoon-bubbles-2"></i>Quisque dapibus aliquam </h4>
                    <p>Nunc ut nibh enim, id dapibus quam. Mauris id est at diam rutrum ultricies. Vivamus et dolor velit. Nam congue blandit nulla sed tincidunt.</p>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <h4><i class="icomoon-thumbs-up"></i>Mauris id est at</h4>
                    <p>Praesent tempus egestas blandit. Nunc euismod volutpat ultrices. Nam fermentum nibh eget mi vehicula dictum.</p>
                </div>
                <div class="span6">
                    <h4><i class="icomoon-airplane"></i>Dolores sunt provident</h4>
                    <p>Nunc ut nibh enim, id dapibus quam. Mauris id est at diam rutrum ultricies. Vivamus et dolor velit. Nam congue blandit nulla sed tincidunt.</p>
                </div>
            </div>
            <hr>
            <p>
                Lorem ipsum dolor sit amet, consectetur  corporis lab. Architecto, maiores, similique, eos, ea doloribus nihil accusantium fuga numquam corporis nostrum eligendi nemo sapiente quibusdam consequuntur tempore. Suscipit, explicabo, ab, iste earum non eaque dolorem molestias a mollitia fuga sequi laborum at ipsam totam nihil vitae delectus quos quibusdam sed nemo animi.
            </p>
            <ul>
                <li>Incidunt, fugit aperiam explicabo dolorem!</li>
                <li>Quo, ad reprehenderit molestias hic.</li>
                <li>Maiores, dolores sunt provident sint.</li>
                <li>Pariatur veniam assumenda doloremque magnam?</li>
                <li>Incidunt, quas laudantium rerum quod.</li>
            </ul>

        </div>
        <div class="grid_4 sidebar">
            <div class="box">
                <h3>Online Support</h3>
                <div class="box-content widget_online_support">
                    <div class="row">
                        <img src="~/images/johnsdoe.jpg" alt="" class="span6">
                        <div class="span6">
                            <span class="online_support_title">John S. Doe</span>
                            <p>Integer nisl nunc, porta id sodales et, pulvinar et risus.</p>
                        </div>
                    </div>
                    <a href="#" class="button blue big wide"><i class="icomoon-volume-medium"></i>+1 (555) 555 - 35 - 55</a>
                    <a href="#">Contact Support Team</a><br>
                    <a href="#" class="link_light_gray">Learn more about <strong>Motor</strong></a>
                </div>
            </div>

            <div class="box">
                <h3>Newsletter Signup</h3>
                <div class="box-content widget_newsletter">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, error?</p>
                    <form action="#">
                        <input type="text" name="name" placeholder="Name">
                        <input type="text" name="email" placeholder="Email">
                        <p class="newsletter_checkbox"><label for="special_offers" class="custom_checkbox"><input type="checkbox" name="special_offers" id="special_offers"> Receive special offers</label></p>
                        <p class="newsletter_button"><a class="button submit red wider">Signup</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

