
@*<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            <ul>

                <li data-transition="fade" data-slotamount="10" data-masterspeed="300" data-thumb="images/thumbs/thumb1.jpg">
                    <img src="~/images/slide1.jpg" alt="">
                    <div class="caption lfr"
                         data-x="655"
                         data-y="164"
                         data-speed="800"
                         data-start="1100"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide1b.png" alt="">
                    </div>
                    <div class="caption sft"
                         data-x="655"
                         data-y="130"
                         data-speed="300"
                         data-start="1000"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide1a.png" alt="">
                    </div>
                    <div class="caption fade"
                         data-x="690"
                         data-y="230"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide1c.png" alt="">
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="15" data-masterspeed="300" data-delay="9400" data-thumb="~/images/thumbs/thumb2.jpg">
                    <img src="~/images/slide2.jpg" alt="">
                    <div class="caption lfl"
                         data-x="685"
                         data-y="40"
                         data-speed="600"
                         data-start="1200"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide2a.png" alt="">
                    </div>
                    <div class="caption lfr"
                         data-x="685"
                         data-y="80"
                         data-speed="600"
                         data-start="1200"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide2b.png" alt="">
                    </div>
                    <div class="caption lfb ltt"
                         data-x="685"
                         data-y="150"
                         data-speed="600"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-end="4300"
                         data-endspeed="300"
                         data-endeasing="easeInSine">
                        <img src="~/images/slide2c.png" alt="">
                    </div>
                    <div class="caption lfb ltt"
                         data-x="685"
                         data-y="150"
                         data-speed="600"
                         data-start="4400"
                         data-easing="easeOutExpo"
                         data-end="6700"
                         data-endspeed="300"
                         data-endeasing="easeInSine">
                        <img src="~/images/slide2d.png" alt="">
                    </div>
                    <div class="caption lfb ltt"
                         data-x="685"
                         data-y="150"
                         data-speed="600"
                         data-start="6800"
                         data-easing="easeOutExpo"
                         data-end="9200"
                         data-endspeed="300"
                         data-endeasing="easeInSine">
                        <img src="~/images/slide2e.png" alt="">
                    </div>
                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="300" data-thumb="~/images/thumbs/thumb3.jpg">
                    <img src="~/images/slide3.jpg" alt="">
                    <div class="caption lfb"
                         data-x="460"
                         data-y="17"
                         data-speed="400"
                         data-start="200"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide3a.png" alt="">
                    </div>
                    <div class="caption randomrotate"
                         data-x="30"
                         data-y="90"
                         data-speed="600"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide3b.png" alt="">
                    </div>
                    <div class="caption randomrotate"
                         data-x="180"
                         data-y="120"
                         data-speed="600"
                         data-start="2900"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide3c.png" alt="">
                    </div>
                    <div class="caption randomrotate"
                         data-x="30"
                         data-y="170"
                         data-speed="600"
                         data-start="2500"
                         data-easing="easeOutExpo">
                        <img src="~/images/slide3d.png" alt="">
                    </div>
                    <div class="caption button green sfb"
                         data-x="30"
                         data-y="260"
                         data-speed="600"
                         data-start="2900"
                         data-easing="easeOutExpo">
                        View listing
                    </div>
                </li>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>

<div class="container_12 clearfix">
    <div class="grid_12 download_callout_box">
        <div class="grid_4 sidebar">
            <div class="row social_buttons">
                <div class="span4">
                    <div id="fb-root"></div>
                    <script>
(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "../../connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
                    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>
                </div>
                <div class="span4">
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
                </div>
                <div class="span4">
                    <div class="g-plusone" data-size="medium"></div>
                    <script type="text/javascript">
                        (function () {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = '../../apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    </script>
                </div>
            </div>


        </div>

        <section id="featured_items" class="clearfix">
            <div class="tabbable">
                
                <ul class="nav-tabs">
                    <li class="active"><a href="#featured_items_tab_1" data-toggle="tab">Used</a></li>
                    <li><a href="#featured_items_tab_2" data-toggle="tab">New</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="featured_items_tab_1">
                        <div class="half left featured_item">
                            <div class="overlayed">
                                <img src="images/smart.jpg" alt="">
                                <div class="overlay">
                                    <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                </div>
                            </div>
                            <h4>Smart <a href="item.html">Fortwo</a></h4>
                            <span class="item_year">2005</span>
                            <span class="item_engine">0,8</span>
                            <span class="item_price">$5,000</span>
                        </div>
                        <div class="half right">
                            <div class="item clearfix">
                                <div class="item_image">
                                    <div class="overlayed">
                                        <img src="images/bentley.jpg" alt="">
                                        <div class="overlay">
                                            <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_meta">
                                    <h4>Bentley <a href="item.html">Continental</a></h4>
                                    <span class="item_year">2005</span>
                                    <span class="item_engine">6,0</span>
                                    <span class="item_price">$125,000</span>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="item_image">
                                    <div class="overlayed">
                                        <img src="images/harley.jpg" alt="">
                                        <div class="overlay">
                                            <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_meta">
                                    <h4>Harley Davidson <a href="item.html">TP</a></h4>
                                    <span class="item_year">2005</span>
                                    <span class="item_engine">1,2</span>
                                    <span class="item_price">$25,000</span>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="item_image">
                                    <div class="overlayed">
                                        <img src="images/cobra.jpg" alt="">
                                        <div class="overlay">
                                            <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_meta">
                                    <h4>Shelby <a href="item.html">Cobra 427</a></h4>
                                    <span class="item_year">2005</span>
                                    <span class="item_engine">7,0</span>
                                    <span class="item_price">$92,435</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="featured_items_tab_2">
                        <div class="half left featured_item">
                            <div class="overlayed">
                                <img src="images/bentley.jpg" alt="">
                                <div class="overlay">
                                    <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                </div>
                            </div>
                            <h4>Bentley <a href="item.html">Continental</a></h4>
                            <span class="item_year">2005</span>
                            <span class="item_engine">6,0</span>
                            <span class="item_price">$125,000</span>
                        </div>
                        <div class="half right">
                            <div class="item clearfix">
                                <div class="item_image">
                                    <div class="overlayed">
                                        <img src="images/cobra.jpg" alt="">
                                        <div class="overlay">
                                            <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_meta">
                                    <h4>Shelby <a href="item.html">Cobra 427</a></h4>
                                    <span class="item_year">2005</span>
                                    <span class="item_engine">7,0</span>
                                    <span class="item_price">$92,435</span>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="item_image">
                                    <div class="overlayed">
                                        <img src="images/smart.jpg" alt="">
                                        <div class="overlay">
                                            <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_meta">
                                    <h4>Smart <a href="item.html">Fortwo</a></h4>
                                    <span class="item_year">2005</span>
                                    <span class="item_engine">0,8</span>
                                    <span class="item_price">$5,000</span>
                                </div>
                            </div>
                            <div class="item clearfix">
                                <div class="item_image">
                                    <div class="overlayed">
                                        <img src="images/harley.jpg" alt="">
                                        <div class="overlay">
                                            <span class="overlay-icon-single"><a href="item.html"><i class="icomoon-link"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item_meta">
                                    <h4>Harley Davidson <a href="item.html">TP</a></h4>
                                    <span class="item_year">2005</span>
                                    <span class="item_engine">1,2</span>
                                    <span class="item_price">$25,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
    
</div>*@


  <!-- Latest News -->
<div class="col-md-8 col-sm-6">
    <section class="listing-block latest-news">
        <div class="listing-header">
            <a href="blog.html" class="btn btn-sm btn-default pull-right">All news</a>
            <h3>Latest auto news</h3>
        </div>
        <div class="listing-container">
            <div class="carousel-wrapper">
                <div class="row">
                    <ul class="owl-carousel" id="news-slider" data-columns="2" data-autoplay="" data-pagination="yes" data-arrows="yes" data-single-item="no" data-items-desktop="2" data-items-desktop-small="1" data-items-tablet="2" data-items-mobile="1">
                        <li class="item">
                            <div class="post-block format-standard">
                                <a href="single-post.html" class="media-box post-image"><img src="~/Content/images/post2.jpg" alt=""></a>
                                <div class="post-actions">
                                    <div class="post-date">December 05, 2014</div>
                                    <div class="comment-count"><a href="single-post.html"><i class="icon-dialogue-text"></i> 12</a></div>
                                </div>
                                <h3 class="post-title"><a href="single-post.html">Suspendisse eget ligula in nulla iaculis interdum nec</a></h3>
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus...</p>
                                </div>
                                <div class="post-meta">
                                    Posted in: <a href="blog-masonry.html">Financial</a>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="post-block format-standard">
                                <a href="single-post.html" class="media-box post-image"><img src="~/Content/images/post1.jpg" alt=""></a>
                                <div class="post-actions">
                                    <div class="post-date">November 29, 2014</div>
                                    <div class="comment-count"><a href="#"><i class="icon-dialogue-text"></i> 0</a></div>
                                </div>
                                <h3 class="post-title"><a href="single-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus...</p>
                                </div>
                                <div class="post-meta">
                                    Posted in: <a href="blog-masonry.html">New Launch</a>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="post-block format-standard">
                                <a href="single-post.html" class="media-box post-image"><img src="~/Content/images/post3.jpg" alt=""></a>
                                <div class="post-actions">
                                    <div class="post-date">November 27, 2014</div>
                                    <div class="comment-count"><a href="#"><i class="icon-dialogue-text"></i> 0</a></div>
                                </div>
                                <h3 class="post-title"><a href="single-post.html">2015 Proin enim quam, vulputate</a></h3>
                                <div class="post-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus...</p>
                                </div>
                                <div class="post-meta">
                                    Posted in: <a href="blog-masonry.html">Trial run</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="spacer-40"></div>
    <!-- Latest Testimonials -->
    <section class="listing-block latest-testimonials">
        <div class="listing-header">
            <h3>Testimonials</h3>
        </div>
        <div class="listing-container">
            <div class="carousel-wrapper">
                <div class="row">
                    <ul class="owl-carousel carousel-fw" id="testimonials-slider" data-columns="2" data-autoplay="5000" data-pagination="no" data-arrows="no" data-single-item="no" data-items-desktop="2" data-items-desktop-small="1" data-items-tablet="1" data-items-mobile="1">
                        <li class="item">
                            <div class="testimonial-block">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                                </blockquote>
                                <div class="testimonial-avatar"><img src="~/Content/images/user1.jpg" alt="" width="60" height="60"></div>
                                <div class="testimonial-info">
                                    <div class="testimonial-info-in">
                                        <strong>Arthur Henry</strong><span>Carsales Inc</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial-block">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                                </blockquote>
                                <div class="testimonial-avatar"><img src="~/Content/images/user3.jpg" alt="" width="60" height="60"></div>
                                <div class="testimonial-info">
                                    <div class="testimonial-info-in">
                                        <strong>Lori Bailey</strong><span>My car Experts</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">
                            <div class="testimonial-block">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                                </blockquote>
                                <div class="testimonial-avatar"><img src="~/Content/images/user2.jpg" alt="" width="60" height="60"></div>
                                <div class="testimonial-info">
                                    <div class="testimonial-info-in">
                                        <strong>Willie &amp; Heather Obrien</strong>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Latest Reviews -->
<div class="col-md-4 col-sm-6 sidebar">
    <section class="listing-block latest-reviews">
        <div class="listing-header">
            <a href="blog-masonry.html" class="btn btn-sm btn-default pull-right">All reviews</a>
            <h3>Recent reviews</h3>
        </div>
        <div class="listing-container">
            <div class="post-block post-review-block">
                <div class="review-status">
                    <strong>3.6</strong>
                    <span>Out of 5</span>
                </div>
                <h3 class="post-title"><a href="single-post-review.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
                <div class="post-content">
                    <div class="post-actions">
                        <div class="post-date">November 29, 2014</div>
                        <div class="comment-count"><i class="fa fa-thumbs-o-up"></i> 3 <i class="fa fa-thumbs-o-down"></i> 0</div>
                    </div>
                </div>
            </div>
            <div class="post-block post-review-block">
                <div class="review-status">
                    <strong>4.1</strong>
                    <span>Out of 5</span>
                </div>
                <h3 class="post-title"><a href="single-post-review.html">Curabitur nec nulla lectus, non hendrerit lorem porttitor</a></h3>
                <div class="post-content">
                    <div class="post-actions">
                        <div class="post-date">November 14, 2014</div>
                        <div class="comment-count"><i class="fa fa-thumbs-o-up"></i> 7 <i class="fa fa-thumbs-o-down"></i> 1</div>
                    </div>
                </div>
            </div>
            <div class="post-block post-review-block">
                <div class="review-status">
                    <strong>5.0</strong>
                    <span>Out of 5</span>
                </div>
                <h3 class="post-title"><a href="single-post-review.html">2014 Proin enim quam, vulputate at lobortis quis</a></h3>
                <div class="post-content">
                    <div class="post-actions">
                        <div class="post-date">October 31, 2014</div>
                        <div class="comment-count"><i class="fa fa-thumbs-o-up"></i> 11 <i class="fa fa-thumbs-o-down"></i> 0</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="spacer-40"></div>
    <!-- Connect with us -->
    <section class="connect-with-us widget-block">
        <h4><i class="fa fa-rss"></i> Connect with us</h4>
        <form role="form">
            <label for="NewsletterInput" class="sr-only">Email</label>
            <input type="email" class="form-control" id="NewsletterInput" placeholder="Subscribe via email">
            <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
            <span class="meta-data">Don't worry, we won't spam you</span>
        </form>
        <hr>
        <h4><i class="fa fa-twitter"></i> Twitter feed</h4>
        <div class="twitter-widget" data-tweets-count="2"></div>
    </section>
</div>