@using GPSTracking.Domain
@model GPSTracking.Models.HeaderViewModel

<ul class="top_toolbar_menu">
    @{
        // To prevent Null exception being thrown
        if (Model.Role == null) { Model.Role = ""; }

        if (Model.Role == RoleNames.ADMIN)
        {
            <li><a href="/Home/Index">Home</a></li>
        }
        else if (Model.Role == RoleNames.OWNER)
        {
            <li><a href="/Home/Dashboard">Dashboard</a></li>
            <li><a href="/Vehicle/AddEdit">Add vehicle</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Service">Service</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
        }
        else
        {
            <li><a href="/">Home</a></li>
            <li><a href="/Home/About">About</a></li>
            <li><a href="/Home/Service">Service</a></li>
            <li><a href="/Home/Contact">Contact</a></li>
        }
    }
</ul>

@Html.Partial("_LoginPartial", Model)