@model GPSTracking.Models.HeaderViewModel
<a href="#" class="user-login-btn" id="userdropdown" data-toggle="dropdown">
    <img src="/Content/images/user1.jpg" alt="">
    <span class="user-informa">
        <span class="meta-data">Welcome</span>
        <span class="user-name">@Model.WelcomeName</span>
    </span>
    <span class="user-dd-dropper"><i class="fa fa-angle-down"></i></span>
</a>